@import '/src/scss/mixins';
@import '/src/scss/vars';

.main {
  display: flex;
  flex-direction: column;
}

.container {
  @include container;
}

.video {
  display: flex;
  flex-direction: column;
  gap: 80px;

  iframe {
    max-width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    border-radius: 25px;
    overflow: hidden;
  }

  @media (width < $width-sm) {
    gap: 40px;
  }
}
