@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-black: theme('colors.black');
  --color-gray: theme('colors.gray');
  --color-white: theme('colors.white');
}

/* Reset default styles */
html {
  font-size: 16px;
}

body {
  background-color: var(--color-black);
  color: var(--color-white);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-gray);
  border-radius: 8px;
}

.link-animation {
  @media (width > 1024px) {
    position: relative;

    &::after {
      content: '';
      background-color: var(--color-white);
      border-radius: 4px;
      position: absolute;
      bottom: -7px;
      left: 50%;
      height: 3px;
      width: 0;
      transform: translateX(-50%);
      transition: all 0.3s ease;
    }

    &:hover::after {
      width: 100%;
    }
  }
}

.discography-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 350px));
  justify-content: space-between;

  @media (width < 1024px) {
    grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
    justify-content: center;
  }
}

.discography-item {
  height: 350px;

  @media (width < 1024px) {
    height: 300px;
  }
}

.card-blur {
  & > img {
    transition: all 0.2s ease-in-out;
  }

  &:hover {
    & > img {
      filter: blur(2px) brightness(70%);
    }
  }
}
