@import "src/scss/vars";

.card {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;

  & > img {
    width: 300px;
    height: 300px;
    object-fit: contain;
  }

  .cardBody {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    backdrop-filter: blur(6px);
    background-color: rgba(0, 0, 0, 0.3);
    transition: opacity 0.4s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 20px 20px;
  }

  &:hover .cardBody {
    opacity: 1;
  }

  .release,
  .year {
    font-size: $fz-tn;
    opacity: 0.5;

  }
  .title {
    font-size: $fz-lg;
    font-weight: $fw-bold;
    margin-top: 15px;
  }
  .artist {
    font-size: $fz-sm;
  }
  .year {
    margin-top: 10px;
  }

  .links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;

    & img {
      transition: transform 0.2s ease-in-out;
    }

    & img:hover {
      transform: scale(1.3);
    }
  }
}
