@import '/src/scss/mixins';
@import '/src/scss/vars';

.background {
  @include background;
}

.main {
  display: flex;
  position: fixed;
  inset: 0;

  @media (width < $width-sm) {
    box-shadow: $shadow;
    touch-action: none;
  }
}

.container {
  @include container;
}
.wrapper {
  position: relative;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: $fz-4;
  @include header-margin;

  .artist {
    font-weight: $fw-bold;
    user-select: none;
  }

  .discography {
    font-size: $fz-3;
    @include link-animation($white);
  }
}

.socials {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  gap: 40px;

  @media (width < $width-sm) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    top: unset;
    bottom: 0;
    left: 0;
    transform: unset;
    gap: unset;

    max-width: 100svw;
    width: 100%;
    padding: 30px 15px 10px;
    box-shadow: inset 0px -85px 10px -20px rgba($black, 0.75);
  }

  & img {
    width: 35px;
    @include zoom-animation(130%, 0.2s, ease-in-out);

    @media (width < $width-sm) {
      width: 30px;
    }
  }
}



