@import '/src/scss/mixins';
@import '/src/scss/vars';

.background {
  @include background;
}

.main {
  display: flex;
  position: fixed;
  inset: 0;

  @media (width < $width-sm) {
    box-shadow: $shadow;
    touch-action: none;
  }
}

.container {
  @include container;
}

.wrapper {
  position: relative;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-size: $fz-4;
  @include header-margin;

  @media (width < $width-sm) {
    font-size: $fz-3;
  }

  .artist {
    font-weight: $fw-bold;
    user-select: none;
  }

  .art {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 0;
    right: 0;
    gap: 20px;

    @media (width < $width-sm) {
      gap: 15px;
    }

    .discography,
    .video {
      @include link-animation($white);
    }
  }
}

.socials {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  gap: 40px;

  @media (width < $width-sm) {
    display: none;
  }

  & img {
    width: 35px;
    @include zoom-animation(130%, 0.2s, ease-in-out);

    @media (width < $width-sm) {
      width: 30px;
    }
  }
}

.latest {
  display: none;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;

  @media (width < $width-sm) {
    display: block;
  }

  .contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 25px;
    margin-bottom: 30px;

    & img {
      width: 35px;
      @include zoom-animation(130%, 0.2s, ease-in-out);

      @media (width < $width-sm) {
        width: 30px;
      }
    }
  }

  .release {
    display: inline-block;
    font-size: $fz-4;
    font-weight: $fw-bold;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 40px;
    @include link-animation($white);
  }

  .listen {
    position: relative;
    text-align: center;
    margin-bottom: 20px;

    &::after {
      content: url('/icons/chevron-up.svg');
      display: block;
      position: absolute;
      width: 25px;
      bottom: 15px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
