@import "vars";

@mixin background {
  position: absolute;
  z-index: -1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
}

@mixin container {
  padding-inline: 40px;

  @media (width < $width-sm) {
    padding-inline: 20px;
  }
}

@mixin header-margin {
  margin-top: 50px;

  @media (width < $width-sm) {
    margin-top: 25px;
  }
}

@mixin zoom-animation($scale, $duration, $behavior) {
  transition: transform $duration $behavior;

  &:hover {
    transform: scale($scale);
  }
}

@mixin link-animation($color) {
  position: relative;

  &::after {
    content: "";
    width: 0;
    height: 3px;
    border-radius: 8px;

    background-color: $color;
    transition: all 0.2s ease-in-out;

    position: absolute;
    bottom: -7px;
    left: 50%;
    transform: translateX(-50%);
  }

  &:hover::after {
    width: 100%;
  }
}
