$white: #ffffff;
$black: #090b0e;
$bg-color: darken($black, 0.5%);

$width-sm: 768px;
$width-lg: 1400px;

$fz-1: 12px;
$fz-2: 16px;
$fz-3: 24px;
$fz-4: 32px;
$fz-5: 36px;
$fz-6: 40px;

$fw-reg: 400;
$fw-bold: 700;

$shadow: inset 0px -100px 20px -20px rgba(0,0,0,0.6);
