$white: #ffffff;
$bg-color: #090b0e;

$width-sm: 768px;

$fz-tn: 18px ;
$fz-sm: 24px;
$fz-reg: 28px;
$fz-lg: 32px;

$fw-norm: 400;
$fw-bold: 700;

$shadow: inset 0px -105px 25px -20px rgba(0,0,0,0.6);
