@import '/src/scss/mixins';
@import '/src/scss/vars';

.main {
  position: relative;
  min-height: 100dvh;
  height: 100%;
  inset: unset;
  overflow: hidden;

  &:has(.container) {
    box-shadow: $shadow;
  }
}

.navigation {
  display: flex;
  align-items: center;
}

.logo {
  font-size: $fz-lg;
  font-weight: $fw-bold;
  display: inline-block;

  & span {
    font-weight: $fw-norm;
    font-size: $fz-sm;
  }

  @include link-animation($white)
}

.discography {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  gap: 80px;

  @media (width < $width-sm) {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
}

.player {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 80px;
  gap: 40px;

  @media (width < $width-sm) {
    flex-direction: column;
  }
}

.spotifyPlayer,
.yandexPlayer {
  width: 652px;
  height: 652px;
  border-radius: 20px;

  @media (width < $width-sm) {
    max-width: 350px;
    height: 452px;
    width: 100%;
  }
}

.socials {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 40px;
  padding-bottom: 15px;

  & img {
    transition: transform 0.2s ease-in-out;
  }

  & img:hover {
    transform: scale(1.4);
  }

  @media (width < $width-sm) {
    gap: 20px;
    padding-bottom: 80px;
  }
}

.container {
  @include container;
}

.background {
  @include background;

  @media (width < $width-sm) {
    display: none;
  }
}
